{% extends 'prastuti/base.html' %}
{% block body_block %}
    <div id="update-container" class="content2">
        <h1 class="display-5">Update your information</h1>
        <hr>
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset>
            <div class="form-group">
            <label for="id_name">Name:</label>
            <input type="text" name="name" maxlength="255" required id="id_name" class="form-control form-control-sm" value={{user.name}}>
            </div>
            <div class="form-group">
            <label for="id_year">Year:</label>
            <input type="number" name="year" required id="id_year" class="form-control form-control-sm" value={{user.year}} min="1" max="5">
            </div>
            <div class="form-group">
            <label for="id_institute">Institute:</label>
            <input type="text" name="institute" maxlength="255" required id="id_institute" class="form-control form-control-sm" value={{user.institute}}>
            </div>  
        </fieldset>
        <button class="btn btn-block btn-info mt-3" type="submit" ,="" value="update" >
            Update
        </button>
    </form>
    </div>
{% endblock %}