<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Profile</h1>
        <h2>{{profile.email}}</h2>
        <h2>{{profile.name}}</h2>
        {% if update %}
        <a href="{% url 'users:userupdate' pk=profile.pk%}">Let's update our name</a>
        <h2>Now logout</h2>
        <a href="{% url 'users:userlogout'%}">Logout</a>
        {% endif %}
        <!-- <h3>{{profile.name}}</h3> -->
    </div>
</body>
</html>