<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Signin Page</h1>
        <form action="{users:usersignin}", method="POST">
            {% csrf_token %}
            <fieldset>
                {{form}}
            </fieldset>
            <button type="submit", value="Signin">Signin</button>
        </form>
        <a href="{% url 'users:usersignup'%}">Don't have an account?</a>
        <a href="{% url 'users:userrecovery'%}">Forget password?</a>
    </div>
</body>
</html>