@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

h1 {
  color: inherit !important;
}

body {
  overflow-x: hidden;
  font-family: "Quicksand", sans-serif;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.9) !important;
  transition: 200ms linear;
  z-index: 100;
  padding: 20px 0px;
  transition: all ease 0.8s;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(0, 0, 0, 0.9);
}

.navbar-toggler:focus {
  outline: none;
}

.nav-item {
  color:rgba(246, 252, 253, 0.4);
  margin: 1px 20px 0 10px;
  letter-spacing: 1.5px;
  cursor: pointer;
  transition: all ease 0.8s;
  position: relative;
  z-index: 0;
}

.nav-link {
  padding-left: 5px !important;
}

.nav-item:hover {
  color:white;
}

.navbtn {
  margin-bottom: 0px;
}

/* ul.topBotomBordersOut .nav-link:before,
ul.topBotomBordersOut .nav-link:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  color: #555;
  background: grey; 
  content: "";
  opacity: 0;
  transition: all 0.3s;
} */

ul.topBotomBordersOut .nav-link:before {
  top: 0px;
  transform: translateY(10px);
}

ul.topBotomBordersOut .nav-link:after {
  bottom: 0px;
  transform: translateY(-10px);
}

ul.topBotomBordersOut .nav-link:hover:before,
ul.topBotomBordersOut .nav-link:hover:after {
  opacity: 1;
  transform: translateY(0px);
}

.active {
  color:#fff;
  font-weight: bolder; 
}

#top-section {
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 2;
  overflow: hidden;
  max-height: 100vh;
}

#bg-video {
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* opacity: 0.8; */
}
#messages{
  z-index: 200;
  margin-top:82px;
  display: flex;
  justify-content: center;
}

#overlay {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.48);
  /* mix-blend-mode: overlay; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  color: white !important;
}

.fas {
  font-size: 1rem;
}

.main-content {
  background-image: url("/static/prastuti/img/background.jpg");
  background-attachment: fixed;
}

.content {
  min-height: 100vh;
  /* background-color: black; */
  padding: 120px 40px;
}

.content2 {
  min-height: 100vh;
  background-image: url("/static/prastuti/img/background.jpg");
  background-attachment: fixed;
  /* background-image: url("/static/prastuti/img/background.jpg"); */
  /* background-color: #ccc; */
  padding: 120px 40px;
}

/* events section */

.events-cards {
  padding: 2%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card.event-card {
  padding: 0.5%;
  margin: 20px auto;
  width: 45%;
  height: 30%;
  border-radius: 5px;
  color: black;
  text-align: left;
  transition: transform 1s;
}

.event-card:hover {
  transition: transform 1s;
  transform: scale(1.03);
  box-shadow: 2px 4px 8px rgb(117, 117, 117);
}

.event-img {
  background: grey;
}

.event-btns {
  padding: 0 10px;
}

.event-btns>.btn {
  border-radius: 2px;
}

/* end events section */


#footer {
  background-color:black;
  /* position: fixed; */
  width: 100%;
  bottom: 0;
}

.footer-top {
  padding: 15px 0 15px 0;
  text-align: left;
}

.footer-top h3 {
  padding-bottom: 10px;
}

.footer-bottom {
  padding: 0px 0 20px 0;
}

.footer-social {
  display: flex;
  align-items: center;
}

.footer-social a {
  margin: 0 10px;
  color: #bbb;
  border: 0;
}

.footer-social a:hover,
.footer-social a:focus {
  color: #856dc0;
  border: 0;
}

.footer-social i {
  font-size: 30px;
  vertical-align: middle;
}

#department {
  width: 500px;
}

#copyright {
  font-size: 15px;
  color: grey;
}

#back-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.5rem;
}

#back-btn .msg {
  transition: all 0.2s ease-in;
}

#back-btn:hover .msg {
  margin-left: 10px !important;
}

#back-btn .fas {
  font-size: 21px;
}

#sign-up-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 120px);
  /* position: relative; */
}

#sign-up-container .row {
  width: 100%;
  max-width: 1500px !important;
  padding: 0;
  margin: 0;
}

#sign-up-container .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sign-up-container .col-lg-7 {
  padding-right: 90px !important;
  align-items: flex-start;
}

#sign-up-container .col-lg-7 .lead {
  margin-top: 20px;
}

#sign-up-form {
  max-width: 450px;
  width: 95%;
}

#sign-up-form .text-muted {
  font-size: 0.8rem;
}

#sign-in-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 120px);
  /* position: relative; */
}

#sign-in-container .row {
  width: 100%;
  max-width: 1500px !important;
  padding: 0;
  margin: 0;
}

#sign-in-container .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sign-in-container .col-lg-7 {
  padding-right: 90px !important;
  align-items: flex-start;
}

#sign-in-container .col-lg-7 .lead {
  margin-top: 20px;
}

#sign-in-form {
  max-width: 450px;
  width: 95%;
}

.form-control {
  background-color: #e6efff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.form-control:focus,
.form-control:hover {
  transform: scale(1.05);
}

@media (max-width: 1200px) {
  #footer .container {
    min-width: 90%;
  }

  .nav-item {
    font-size: 1.2rem;
  }
}

@media (max-width: 1000px) {
  #sign-up-container .col-lg-7 {
    display: none;
  }

  #department {
    width: 400px;
    margin-top: 10px;
  }

  #sign-in-container .col-lg-7 {
    display: none;
  }

  .nav-item {
    margin: 0px 10px;
    font-size: 0.8rem;
  }

  .navbtn {
    margin-bottom: 5px;
  }
}

@media (max-width: 700px) {
  #sign-up-container {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  #sign-in-container {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  #back-btn .msg {
    font-size: 1.3rem;
  }

  #back-btn .fas {
    font-size: 1rem;
  }

  .lead {
    font-size: 1rem;
  }

  .display-1 {
    font-size: 1.9rem;
  }

  .display-5 {
    font-size: 1.4rem;
  }

  #overlay {
    padding: 20px;
  }

  .nav-item {
    margin: 0px 10px;
    font-size: 0.8rem;
  }

  .navbtn {
    margin-bottom: 5px;
  }

  #department {
    width: 100%;
    margin-top: 10px;
  }

  .footer-social {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
  }

  .footer-social i {
    font-size: 20px;
    vertical-align: middle;
  }

  #update-container{
      padding-top: 150px!important;
  }
  #registration-container {
    padding-top: 100px!important;
  }
}

@media (max-width: 1200px) and (min-width: 1000px) {
  .events-cards {
    padding: 0px;
  }

  .content2 {
    padding: 2%;
  }
}

@media (max-width: 1000px) and (min-width: 0px) {
  .events-cards {
    padding: 0px;
  }

  .events-cards {
    flex-direction: column;
  }

  .card.event-card {
    width: 90%;
  }
}

/* scroll-bar */
/* width */
::-webkit-scrollbar {
  width: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(85, 85, 85);
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* end scroll bar */


/* Schdule page*/

/*section header*/
.section-header{
  text-align: center;
  color:lightblue
}

/*general*/
img{
  width: 40%;
  border-radius: 50px;
}

.col{
  text-align: center;
  align-self: center;
  font-size: 18px;
}
.container{
  padding: 2%;
}

.timeline{
  padding-left: 10%;
  width: 90%;
}

.prev_workshop{
  padding-bottom: 60px;
  color:lightblue;
  font-weight: bolder;
  font-family: 'Raleway',sans-serif; font-size: 25px; font-weight: 600; line-height: 23px; margin: 0 0 0px; text-align: center; text-transform: uppercase;
}
.up_workshop{
  padding-bottom: 90px;
  color:lightblue;
  font-family: 'Raleway',sans-serif; font-size: 25px; font-weight: 600; line-height: 23px; margin: 0 0 0px; text-align: center; text-transform: uppercase;
}
.event--image {
  list-style: none;
}
.image-header{
  color: rgb(43, 4, 105);
  font-family: 'Raleway',sans-serif; font-size: 25px; font-weight: 600; line-height: 23px; margin: 0 0 0px; text-align: center; text-transform: uppercase;
}
.single-timeline {
background: linear-gradient(
  to bottom, 
  #0a0535 5%  , 
  #045aca 30%, 
  #ffffff 20%, 
  #ffffff 60%
);
  box-shadow: 0 4px 8px 0 rgba(24, 2, 2, 0.24);
  transition: 0.5s;
  border-radius: 30px;
  font-family: "Montserrat", sans-serif;
  align-content: center;
  
}
      

.shadow-box:hover {
  box-shadow: 0 1px 40px #36c6e2;
  
}    

.my-schedule h1 {
  margin: 0;
  padding-bottom: 0rem;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  font-family: 'Teko', sans-serif;
  font-size: 7rem;
  text-transform: uppercase;
  animation: glow 1s ease-in-out infinite alternate;
  text-align: center;
}
.my-schedule a {
  font-family: 'Teko', sans-serif;
  grid-column: 1;
  font-weight: bolder;
  grid-row: 1;
  align-self: end;
  justify-self: center;
  
}
.my-schedule a:hover {
  font-family: 'Teko', sans-serif;
  /* background-color: grey; */
  /* color: white; */
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  font-size: larger;
  font-weight: bolder;
  justify-self: center;
  
}
.my-schedule ul{
  list-style: none;
}

@keyframes glow {
  from {
    text-shadow: 0 0 30px #58a2b4;
  }
  to {
    text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
  }
}


.dropdown-div {
  background-color: black;
}
.dropdown-link {
  color: gray;
}
.dropdown-link:hover {
  color: white;
  background-color: grey;   
}

/* Update page */

#update-container, #registration-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 100px 15px;
    padding-top: 300px;
    align-items: center;
}

#registration-container {
  padding-top: 140px;
}

#update-container hr, #registration-container hr {
    margin-left: calc(50% - 100px);
    background-color: #000;
    width: 200px;
    height: 2px;
    margin-top: 15px;
}

#update-container form {
    width: 100%;
    max-width: 600px;
}
