{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'prastuti/img/title-logo.png'%}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
      integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
      crossorigin="anonymous"
    />
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
      integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'prastuti/css/style.css' %}" />
    <title>Prastuti | A nice tagline</title>
  </head>
  <body>

    <div>
      <nav class="navbar fixed-top navbar-expand-lg">
        <div class="container">
          <button
            class="navbar-toggler custom-toggler float-xs-right ml-auto"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

            <button class="navbar-toggler custom-toggler float-xs-right ml-auto" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
     
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <a href="{% url 'home'%}" class="nav-link nav-item active">Home</a>
                    <a href="/#about" class="nav-link nav-item">About</a>
                    <a href="/#events" class="nav-link nav-item">Events</a>
                    <a href="/#" class="nav-link nav-item">Workshops</a>
                    {% if user.is_staff %}
                    <a class="nav-link nav-item" href="/admin/">Admin</a>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <a class="nav-link nav-item" href="{% url 'users:userprofile' email=user.email%}">Profile</a>
                    <a class="nav-link nav-item" href="{% url 'users:userlogout'%}">Logout</a>
                    {% else %}
                    <a class="nav-link nav-item" href="{% url 'users:usersignin' %}">Sign In</a>
                    <a class="nav-link nav-item" href="{% url 'users:usersignup' %}">Register</a>
                    {% endif %}
                </ul>
            </div>
        </div>
      </nav>
    </div>
    <div>
         <div>
    {% for message in messages %}
         <div class="alert alert-{{message.tags}} alert-dismissible fade show">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{message}}
      </div>
       {% endfor %}
    </div>
        {% block body_block %}
        {% endblock %}
    </div>
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row mr-auto">
            <div class="col footer-social">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
            <div class="m-2">
              <img
                src="{% static 'prastuti/img/Department.png'%}"
                id="department"
              />
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="{% static 'prastuti/js/main.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll@15.0.0/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
      var scroll = new SmoothScroll('a[href*="#"]', {
        speed: 1000,
        speedAsDuration: true,
      });
    </script>
     {% block js%}
     {% endblock %}
</body>
</html>
