{% extends 'prastuti/base.html' %}
{% load static %}
{% block body_block %}

<div class="loader" ><img  class ="loader_img" src="{% static 'prastuti/img/loader.gif' %}"></div>



    <div id="top-section">
        <video id="bg-video" src="{% static 'prastuti/img/Circuit Board Background.mp4' %}" autoplay loop muted>
        </video>
        {% for message in messages %}
      <div class="alert alert-{{message.tags}} alert-dismissible fade show" id = "messages">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{message}}
      </div>
      {% endfor %}
        <div id="overlay">

            <h1 class="display-1">Prastuti - A nice tagline</h1>
            <h1 class="display-5">Official tech-fest of Electrical department, IIT BHU</h1>
        </div>
    </div>

    <div class="content2 text-center" id="about">
        <h1 class="dispay-1 text-dark">ABOUT</h1>
    </div>
    <div class="content text-center" id="events">
        <h1 class="dispay-1 text-white">EVENTS</h1>
        <div class="row">
          {% for event in events %}
        <div class="card mb-3 event-card">
          <div class="row no-gutters">
              <div class="col-md-4 event-img">
                  <img src='{% static "prastuti/img/"|add:event.event_name|add:".jpg"  %}' class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                  <div class="card-body" style="padding: 2%">
                      <h3 class="card-title" style="margin:2px;">{{event.event_name}}</h3>
                      <p class="card-text" style="margin:2px;"><strong class="text-muted">An online Digital Electronics event.</strong></p>
                      <p class="card-text">{{event.discription}}</p>
                  </div>
                  <div class="event-btns" style="padding: 2%">
                      <a class="btn btn-block btn-outline-info" href="{% url 'event_registration:register' event.event_name %}">
                          Register
                      </a>
                      <a class="btn btn-block btn-outline-info" href="{% url 'events:event_info' event.event_name|lower %}">
                        About
                        </a>
                  </div>
              </div>
          </div>
      </div>
        {% endfor %}
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    setTimeout(function(){        
    $('.loader').fadeOut();
    $('.loader_img').delay(150).fadeOut('slow'); 
}, 3000);

</script>
{% endblock %}