{% extends 'prastuti/base.html' %}
{% load static %}
{% block body_block %}
<div class="content2">
  <div class="box">
    <div class="box-sm red"></div>
    <div class="box-sm orange"></div>
    <div class="box-sm yellow "></div>
    <div class="box-sm green "></div>
    <div class="box-sm blue "></div>
    <div class="box-sm purple"></div>
    </div>
    <section class="section">
        <div class="section-header">
            <strong><h2 class="headings">Event Schedule</h2></strong>
        </div>
    </section>
    <div class="container single-timeline shadow-box">
      <div class="row">
        <div class="col">
         <div>
          
            <ul>
             <li>
                <img src="{% static '/prastuti/img/codigo.jpeg' %}" />
            <div class="image-header">
                <h3><b>Codigo</b></h3>
            </div>
                
            </li>
            <span class=" time" aria-hidden="true">Feb 14</span>
            </ul>
         </div>

        </div>
        <div class="col">
        
          <div class="previous-workshop">
            <h4>Previous Workshops</h4>
              <ul>

                <li>
                    <a href="#">Inroduction to STL</a>
                </li>
                <li>
                    <a href="#">Inroduction to STL</a>
                </li>
                <li>
                    <a href="#">Inroduction to STL</a>
                </li>
              </ul>
          </div>
        </div>
        <div class="col">
            <div class="Next-workshop">
              <h4>Upcoming Workshops</h4>
              <ul>

                <li>
                    <a href="#">Graphs-Djikstra</a><br/>
                    <small><cite>Feb 12 | 10:AM</cite></small>
                    
                </li>
              </ul>
          </div>
     </div>
      </div>
    </div>
    
    <div class="row timeline">
      <div class="col-2">
      <div class="corner top-right"></div>
      </div>
      <div class="col-8">
      <hr/>
      </div>
      <div class="col-2">
      <div class="corner left-bottom"></div>
      </div>
      </div>
    <div class="container single-timeline shadow-box">
      <div class="row">
        <div class="col">
         <div>
            <ul>
             <li>
                <img src="{% static '/prastuti/img/codigo.jpeg' %}" />
            <div class="image-header">
                <h3><b>CryptX</b></h3>
            </div>
                
            </li>
            <span class=" time" aria-hidden="true">Feb 14</span>
            </ul>
         </div>

        </div>
        <div class="col " >
          <div class="previous-workshop">
            <h4>Previous Workshops</h4>
              <ul>

                <li>
                    <a href="#">Inroduction to STL</a>
                </li>
                <li>
                    <a href="#">Inroduction to STL</a>
                </li>
                <li>
                    <a href="#">Inroduction to STL</a>
                </li>
              </ul>
          </div>
        </div>
        <div class="col">
            <div class="Next-workshop">
              <h4>Upcoming Workshops</h4>
              <ul>

                <li>
                    <a href="#">Graphs-Djikstra</a><br/>
                    <small><cite>Feb 12 | 10:AM</cite></small>
                </li>
              </ul>
          </div>
     </div>
      </div>
    </div>
</div>    
{% endblock %}             
              
            


