{% extends 'prastuti/base.html' %}
{% load static %}
{% block body_block %}
<div class="light pt-3 pt-lg-5 pb-2 text-light container-fluid"
  style="margin-top: 76.3px; margin-bottom: -1px; background-color: #0a043c;">
  <div class="container">
    <div class="section-header">
      <h1 class="font-weight-bold mb-5 eventName">
        <span>C</span><span>R</span><span>Y</span><span>P</span><span>T</span><span>X</span></h1>
    </div>
    <div class="row">
      <div class="col-12 col-md-7 order-2 order-md-1 details">
        <hr class="d-none d-md-block bg-secondary">
        <div>
          <p class="font-weight-light mt-2 mb-0"><span class="font-weight-bold" style="color:#e5707e">Date:</span>
            3/4/2020</p>
          <p class="font-weight-light mb-0"><span class="font-weight-bold" style="color:#e5707e">Time:</span> 6:00 PM
          </p>
          <p class="font-weight-light mb-3"><span class="font-weight-bold" style="color:#e5707e">Team size:</span>
            1 - 4</p>
        </div>
        <hr class="d-none d-md-block bg-secondary">
      </div>
      <div class="col-12 col-md-5 order-1 order-md-2">
        <img src="/static/prastuti/img/CryptX.jpg" class="event_image rounded-0">
      </div>
      <div class="col-12 order-3 mt-2 mt-lg-4">
        <h2 class="font-weight-bold mb-1 mt-4" style="font-family: 'Righteous', cursive; color:#e27802">Description</h2>
        <p class="pt-0" style="font-family: 'Monda', sans-serif; color:#cdd0cb;">Lorem ipsum dolor sit amet, consectetur
          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ornare arcu dui vivamus
          arcu. Lacinia at quis risus sed vulputate odio ut enim. Eu sem integer vitae justo eget magna. Quis blandit
          turpis cursus in hac habitasse platea. Enim blandit volutpat maecenas volutpat blandit aliquam etiam erat
          velit. Id velit ut tortor pretium viverra suspendisse potenti nullam ac. Nunc vel risus commodo viverra
          maecenas accumsan lacus. Nulla posuere sollicitudin aliquam ultrices sagittis orci a. Eget dolor morbi non
          arcu risus quis varius quam. Turpis in eu mi bibendum. Sollicitudin ac orci phasellus egestas tellus rutrum
          tellus pellentesque. <br><br>Blandit aliquam etiam erat velit scelerisque in dictum non consectetur. Elit
          pellentesque habitant morbi tristique senectus. Viverra aliquet eget sit amet tellus cras adipiscing enim eu.
          Ipsum dolor sit amet consectetur adipiscing elit ut. A arcu cursus vitae congue mauris rhoncus. Nullam
          vehicula ipsum a arcu cursus. In mollis nunc sed id. Diam sollicitudin tempor id eu nisl nunc mi ipsum
          faucibus. Nisi porta lorem mollis aliquam ut porttitor leo. Sociis natoque penatibus et magnis. Dolor sit amet
          consectetur adipiscing elit pellentesque. Ultrices neque ornare aenean euismod. Pulvinar sapien et ligula
          ullamcorper malesuada proin libero nunc. Diam ut venenatis tellus in metus vulputate eu scelerisque felis.
          Facilisis mauris sit amet massa vitae tortor condimentum lacinia.</p>
        <a class="btn btn-outline-danger btn-md mt-4 px-3 rounded-0 no-btn-shadow " data-tilt target="_blank"
          href="#">Problem Statement</a>
      </div>
    </div>
    <div>
      <h2 class="mt-5 mb-3 font-weight-bold" style="font-family: 'Righteous', cursive; color:#e27802">Workshops</h2>
      <div class="pl-2">
        <ol type="I">
          <li>
            <a href="#" class="workshop_link">
              <h4 style="font-family: 'Russo One', sans-serif;">Intro to tryksem</h4>
            </a>
            <p style="font-family: 'Monda', sans-serif;color:#cdd0cb;">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus luctus accumsan
              tortor posuere ac ut consequat. Pellentesque habitant morbi tristique senectus. Viverra vitae congue eu
              consequat ac felis donec et. Lacus suspendisse faucibus interdum posuere lorem.</p>
          </li>
          <li>
            <a href="#" class="workshop_link">
              <h4 style="font-family: 'Russo One', sans-serif;">Starting tryksem</h4>
            </a>
            <p style="font-family: 'Monda', sans-serif;color:#cdd0cb;">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus luctus accumsan
              tortor posuere ac ut consequat. Pellentesque habitant morbi tristique senectus. Viverra vitae congue eu
              consequat ac felis donec et. Lacus suspendisse faucibus interdum posuere lorem.</p>
          </li>
          <li>
            <a href="#" class="workshop_link">
              <h4 style="font-family: 'Russo One', sans-serif;">Practicing tryksem</h4>
            </a>
            <p style="font-family: 'Monda', sans-serif;color:#cdd0cb;">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus luctus accumsan
              tortor posuere ac ut consequat. Pellentesque habitant morbi tristique senectus. Viverra vitae congue eu
              consequat ac felis donec et. Lacus suspendisse faucibus interdum posuere lorem.</p>
          </li>
          <li>
            <a href="#" class="workshop_link">
              <h4 style="font-family: 'Russo One', sans-serif;">Mastering tryksem tryksem</h4>
            </a>
            <p style="font-family: 'Monda', sans-serif;color:#cdd0cb;">Lorem ipsum dolor sit amet, consectetur
              adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lacus luctus accumsan
              tortor posuere ac ut consequat. Pellentesque habitant morbi tristique senectus. Viverra vitae congue eu
              consequat ac felis donec et. Lacus suspendisse faucibus interdum posuere lorem.</p>
          </li>
        </ol>

      </div>
      <div>
        <h2 class="mt-5 mb-3 font-weight-bold" style="font-family: 'Righteous', cursive; color:#e27802">Coordinators</h2>
        <ul>
            <li><h4 style="font-family: 'Russo One', sans-serif;">Manas Asati</h4></li>
            <li><h4 style="font-family: 'Russo One', sans-serif;">Manas Asati</h4></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}