{% extends 'prastuti/base.html' %}
{% load filter %}
{% load static %}

{% block body_block %}
<div class="content2">
    <form method="POST" action="{% url 'event_registration:register' event %}">
        {% csrf_token %}
        <h1>Registration for {{ event.event_name }} </h1>
        <label for="team_size">Choose the team size: </label>
        <select name="team_size" id="size" onchange="emailField()">
            <option value="{{teamsize}}">{{teamsize}}</option>
            {% for i in allowed_team_sizes %}
                <option value="{{i}}">{{i}}</option>
            {% endfor %}
        </select>
         <div id = "emails">
        {% if teamsize > 0 %}
            <div>
            <label for="Team name">Team name:</label>
            <input type="text"  id="teamname" name='team_name' value = "{{teamname}}">
                {% if error|get_key:teamname %}
                <div class="alert alert-danger">
               <ul>{{error|get_key:teamname}}</ul>
              </div>
                {% endif %}
            </div>
             {% for key,value in emailids.items %}
               <div>
                   <label>Email id of member {{forloop.counter}}</label>
                   <input type="email"  id ="email{{forloop.counter}}" name='email{{forloop.counter}}' value = "{{value}}">
                   {% if error|get_key:key %}
                      <div class="alert alert-danger">
                      <ul>{{error|get_key:key}}</ul>
                      </div>
                   {% endif %}
               </div>
            {% endfor %}
    
            {% if event.event_name == 'Codigo' or  event.event_name == 'Recognizance' %}
            <div>
                 <label>kaggle id of the team</label>
                <input type="text" id="team_id" name='team_id' value = "{{team_id}}">
            </div>
            {% endif %}
        <button type="submit" class="btn btn-success">Submit</button>
        {% endif %}
        </div>
    </form>
</div>
{% endblock %}

{% block js %}
     <script>
         function emailField(){

            var lst = parseInt(document.getElementById("size").value)
            var emails = document.getElementById("emails")
            while (emails.firstChild) {
                emails.removeChild(emails.lastChild);
            }
            if (lst == 0)return;
            var lab = document.createElement("label")
            lab.innerHTML = "Team Name"
            var name = document.createElement("input")
            name.setAttribute("type",'text')
            name.setAttribute("name","team_name")
            emails.appendChild(lab)
            emails.appendChild(name)
            for(var i = 1; i <= lst; i++){
                var node = document.createElement("div")
                var label = document.createElement("label")
                label.innerHTML = "Email ID of Member #" + i;
                var field = document.createElement("input")
                field.setAttribute('type',"email");
                field.setAttribute('name','email' + i);
                field.required = true
                node.appendChild(label);
                node.appendChild(field);
                emails.appendChild(node);
            }

            {% if event.event_name == 'Codigo' or event.event_name == 'Recognizance' %}
            var node = document.createElement("div")
            var label = document.createElement("label")
            {% if event.event_name == 'Codigo' %}
            label.innerHTML = "Hackerrank id of the user"
            {% endif %}
            {% if event.event_name == 'Recognizance' %}
            label.innerHTML = "kaggle id of the team"
            {% endif %}
            var field = document.createElement("input")
            field.setAttribute('type',"text");
            field.setAttribute('name','team_id');
            node.appendChild(label);
            node.appendChild(field);
            emails.appendChild(node);
            {% endif %}
            var but = document.createElement("button")
            but.setAttribute("value","Submit")
            but.innerHTML = "Submit"
            emails.appendChild(but)
        }
    </script>
{% endblock %}